html{

}

h1, h2 {
  text-align: center;
}

body {
  background-color: cyan

}

.top-title{
  font-size: 40px;
  font-variant-caps: small-caps;
}

.subtitle{
  font-size: 28px;
  font-variant: small-caps;
}

.main-text{
  font-size: 20px;
}

.side {
  display: inline-block;
}

.button {

}
